

#post-table{
  width: 100%;
  text-align: center;
  display: table;
}

.table-row{
  display: table-row;
}

.occurrences-cell{
  display: table-cell;
  width: 100px;
}

.post-text-cell{
  width: 100%;
}
