<div class="navbar navbar-default">

  <div class="navbar-header">
    <a class="navbar-brand"href="/">Home</a>
  </div>
  <a href="/">Greatest Hits</a>
  <ul class="nav navbar-nav navbar-left">
    <li class='dropdown'>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li> <a href="boards/his">History & Humanities </a> </li>
          <li> <a href="boards/pol">Politically Incorrect</a> </li>
          <li> <a href="boards/v"> Video Games </a> </li>
          <li> <a href="boards/vg"> Video Game Generals </a> </li>
      </ul>
    </li>
  </ul>

</div>
