
body{
  width: 95%;
}
#main{
  width: 100%;
}
#post-table{
  text-align: center;
  display: table;
  margin: 25px;
}

#post-data{

}

.table-row{
  display: table-row;
}

.table-cell{
  display: table-cell;
  width: 100px;
}

.occurrences-cell{
  display: table-cell;
  width: 100px;
}

.post-text-cell{
  width: 100%;
}
